.clickable-row:hover {
    background-color: darkgrey;
}

.clickable-row {
    border-bottom: brown solid 1px;
    margin-bottom: 2em;
}

.panel {
    padding: 1em;
    border-radius: 1em;
}

body {
    background-color: dimgrey;
}